.Main-div
{
    width: 100px;
    height: 200px;
    background-color : yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    

}